* {
  padding: 0;
  margin: 0;
}

.header{
  text-align: center;
  font-family:Verdana;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: rgb(79, 153, 175);
  border: 2px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;

}

.h1{
  text-align: center;
  font-size: 30px;
  width: 350px;
  padding-top: 48px;
}

.headshot{
  width: 150px;
  height: 150x;
  border-radius: 75px;
  object-fit: cover;
  object-position: center;

}

nav{
  font-size: 24px;
  display: flex;
  align-items: flex-end;
  margin: 6px;

}

nav ul li{
  display: inline-block;

}

nav ul li a:hover{
  color: rgb(204, 37, 37);
  transition: .5s;

}

 
.h2{
  padding-top: 20px;
  padding-left: 2px;
  font-family:Verdana;
  font-weight: bold;
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-align: center;
}

p{
  
  font-family:Verdana;
  color: rgb(0, 0, 0);
  padding-left: 2px;
  text-align: center;

  
}
.about-me{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  width: 360px;
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color:rgb(79, 153, 175);
  height: 100vh;
}

.container{
  display: flex;
}
.box-1{
  width: 200px;
}