* {
  padding: 0;
  margin: 0;
}

.avatar{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar-img{
  width: 150px;
  height: 150x;
  border-radius: 75px;
  object-fit: cover;
  object-position: center;

}

header{
  padding:20px;
  display:flex;
  align-items: center;
  justify-content: center;
}

nav{
  width: 100%;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

nav ul a{
  text-decoration: none;
  color: inherit;
}

main{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-col{
  width: 30%;
}

.right-col{
  width:60%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.row2,.row3{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer{
  padding: 30px;
}

footer ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

footer ul a{
  text-decoration: none;
  color: inherit;
}

